@import "../variables.scss";

.notfound-content {
    background: url("../../img/error-404.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 50%;
    height: 70vh;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #555;
}

.fourOfour {
    font-size: 5rem;
    color: #555;
}

// LARGE SCREEN
@media (min-width: 950px) {
    .notfound-content {
        background-size: 500px;
    }
}
