<notfound>
    <div class="notfound-content">
        <div class="fourOfour">404</div>
        <h1>Page Not Found</h1>
        <h2>Make sure the address is correct and the page hasn't moved.</h2>
    </div>
    <script>
        this.mixin("notfound");
    </script>
</notfound>
