@import "../variables.scss";

.spinner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-image: url("../../img/spinner.gif");
    background-color: rgba(255, 241, 243, 0.8);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
