<footerbar>
    <footer class="footer-container">
        <nav class="footer-content">
            <p id="footer"></p>All rights reserved to <b>birdbiz</b> ®</p>
        </nav>
    </footer>
</footerbar>