@import "../variables.scss";

// STYLING THE FOOTER BAR

.footer-container {
    background: $background-footer;
    color: $letter-color;
    height: $footer-height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 9px;
    letter-spacing: 1px;
    position: fixed;
    bottom: 0;
}

// LARGE SIZE SCREEN
@media (min-width: 950px) {
    .footer-container {
        height: 3rem;
        font-size: 11px;
    }
}
