.notifications-link-content {
    display: flex;
}

.bellicon {
    fill: currentColor;
    height: 1rem;
}

.notifications-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    font-size: 0.75rem;
    min-width: 1rem;
    height: 1rem;
    background: rgb(255, 95, 121);
    border-radius: 10px;
    animation: beat 0.3s infinite;
}

@keyframes beat {
    from {
        height: 1rem;
    }
    to {
        height: 1.3rem;
    }
}
