@import "../variables.scss";

.search-icon {
    height: 0.7rem;
}

.searchbar {
    display: none;
    background: $search-background;
    top: $nav-height;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1;
    padding: 1rem 0 1rem 0;
}

.searchbar-items {
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchbar-items input {
    background: $search-background-input;
    width: 70%;
    border-radius: $border-radius 0 0 $border-radius;
    border-style: solid;
    border-right: none;
    border-color: $search-border;
    max-height: 2rem;
    padding: 0 0.5rem 0 0.5rem;
}

.searchbar-items input::placeholder {
    color: $letter-placeholder-oposite;
}

.searchbar-items input:focus {
    background-color: $search-background-input-focus;
    outline: none;
}

.btn-search-nav {
    border-radius: 0 $border-radius $border-radius 0 !important;
    height: 2rem !important;
}

.search-btn-go {
    fill: currentColor;
}

// LARGE SCREEN
@media (min-width: 950px) {
    .searchbar {
        display: block;
        position: relative;
        padding: 0;
        top: 0;
        width: auto;
        background: none;
    }
}
