<searchbar>
    <div class="searchbar">
        <div class="searchbar-items">
            <input placeholder="type here..." class="input-search" type="text"/>
            <button class="btn btn-transparent btn-search-nav"><a class="search-btn-go"><search/></a></button>
        </div>
    </div>    

    <script>
        this.on("mount", function(){
            this.searchbtn = document.querySelector(".btn-search-nav");
            this.inputSearch = document.querySelector(".input-search");
            this.inputSearch.addEventListener('keyup', manageSearch)
            this.searchbtn.addEventListener("click", goSearch)
        })

        const goSearch = () => {
            this.inputSearch.value = ''
        }

        const manageSearch = (e) => {
            this.inputData = e.target.value
            if(e.keyCode === 13) {
                goSearch(this.inputData)
            }
        }        
    </script>
</searchbar>