<navbar-authflow>
    <header class="main-nav {getState().appReducer.view.firstNavClass} ">
        <div class="main-nav__logo">
            <a href="#/home"
                ><img class="main-nav__logo-img" riot-src="{logoNav}"
            /></a>
            <a href="#/home" class="main-nav__logo-text open">birdbiz</a>
        </div>
        <div class="main-nav__right">
            <div class="submenu-container">
                <nonLogged-submenu/>
                <img
                    name="user"
                    id="user"
                    class="user-icon"
                    src="{getState().appReducer.user.avatar}"
                />
            </div>
        </div>
    </header>
    <script>

        this.mixin("nav");
        this.mixin("reduxGlobal");
        this.on("mount", function() {
            this.nonLoggedUser = document.querySelector(".submenu-container");
            this.nonLoggedUser.addEventListener("click", showSubmenu);
            this.submenu = document.querySelector(".non-logged-submenu-user");
        });

        const showSubmenu = () => {
            if (!this.submenu.classList.contains("open")) {
                this.submenu.classList.add("open");
            } else {
                this.submenu.classList.remove("open");
            }
        };
    </script>
</navbar-authflow>
