<navbar>
    <header class="main-nav">
        <div class="main-nav__logo">
            <a href="#/home"
                ><img class="main-nav__logo-img" riot-src="{logoNav}"
            /></a>
            <a href="#/home" class="main-nav__logo-text">birdbiz</a>
        </div>
        <div  class="main-nav__items">
            <div class="main-nav__items-standard">
                <div class="main-nav__group">
                    <a class="main-nav__item search-btn"><search/></a>
                    <div class="submenu-container">
                        <submenu title="{sub.title}" type="{sub.type}" subitems={sub.links}/>
                        <a name="sub" id="sub" class="main-nav__item">sub⧩</a>
                    </div>
                    <a href="#/page1" class="main-nav__item">page1</a>
                </div>
            </div>
            <div class="main-nav__items-toggled">
                <div class="main-nav__group">
                    <div class="submenu-container">
                        <submenu title="{companies.title}" type="{companies.type}" subitems={companies.links}/>
                        <a name="companies" id="companies" class="main-nav__item">companies⧩</a>
                    </div>
                    <a class="main-nav__item">more⧩</a>
                    <div class="submenu-container">
                        <submenu title="{notifications.title}" type="{notifications.type}" subitems={notifications.links}/>
                        <a name="notifications" id="notifications" class="main-nav__item"> <notifications-link/> </a>                       
                    </div>
                </div>
            </div>        
        </div>        
        <div class="main-nav__right">
            <searchbar />
            <div class="submenu-container">
                <user-submenu />
                <img name="user" id="user" class="user-icon"  src={getState().appReducer.user.avatar}/>
            </div>
 
            <div class="separator"></div>
            <div class="main-nav__toggle">
                <img alt="⧎" class="toggle-gif" riot-src="{toggleGif}" />
            </div>
        </div>
    </header>

    <script>
        this.mixin("nav");
        this.mixin("reduxGlobal");

        this.on("mount", function() {
            this.submenusBts = document.querySelectorAll(".submenu-container");
            this.searchBtn = document.querySelector(".search-btn");
            this.submenus = document.querySelectorAll(".submenu");
            this.searchBar = document.querySelector(".searchbar");
            this.navbar = document.querySelector(".main-nav");
            this.toggleBtn = document.querySelector(".main-nav__toggle");
            this.masterContent = document.querySelector(".master-container");
            this.menuStandard = document.querySelector(
                ".main-nav__items-standard"
            );
            this.menuToggled = document.querySelector(
                ".main-nav__items-toggled"
            );
            this.menuStandard.classList.add("open");
            this.masterContent.addEventListener("click", closeOpenedWindows);
            this.searchBtn.addEventListener("click", showOrCloseSearchBar);
            this.toggleBtn.addEventListener("click", closeOrShowMobileNav);
            this.submenusBts.forEach(element => {
                element.addEventListener("click", showSubmenu);
            });
            this.toggleGif = this.toggleStatic;
            this.update();
        });

        const showSubmenu = e => {
            const id = e.target.name;
            this.submenus.forEach(element => {
                if (
                    element.classList.contains(id) &&
                    !element.classList.contains("open")
                ) {
                    element.classList.add("open");
                } else {
                    element.classList.remove("open");
                }
            });
        };

        const onScroll = () => {
            if (window.pageYOffset > 0) {
                this.navbar.classList.add("main-nav__scrolled");
            } else {
                this.navbar.classList.remove("main-nav__scrolled");
            }
        };

        const closeOpenedWindows = () => {
            this.submenus.forEach(element => {
                element.classList.remove("open");
            });
            this.searchBar.classList.remove("open");
        };

        const showOrCloseSearchBar = () => {
            this.searchBar.classList.contains("open")
                ? closeOpenedWindows()
                : this.searchBar.classList.add("open");
        };

        const closeOrShowMobileNav = () => {
            if (this.menuStandard.classList.contains("open")) {
                this.menuStandard.classList.remove("open");
                this.menuToggled.classList.add("open");
                this.navbar.classList.add("main-nav__toggled");
                this.searchBar.classList.remove("open");
                this.toggleGif = this.toggleGo;
            } else if (this.menuToggled.classList.contains("open")) {
                this.menuStandard.classList.add("open");
                this.menuToggled.classList.remove("open");
                this.navbar.classList.remove("main-nav__toggled");
                this.toggleGif = this.toggleBack;
            }
            this.update();
        };
        window.addEventListener("scroll", onScroll);
    </script>
</navbar>
