@import "../variables.scss";

/* STYLING THE NAVIGATION BAR */

.main-nav {
    position: fixed;
    width: 100%;
    height: $nav-height;
    background: $background-navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-size: 0.8rem;
}

.main-nav-login {
    background: $background-navbar-login;
}

.main-nav-singup {
    background: $background-navbar-singup;
}

.main-nav-forgot {
    background: $background-navbar-forgot;
}

.main-nav-reset {
    background: $background-navbar-reset;
}

.main-nav__toggled {
    background: $background-navbar-toggled;
}

.main-nav__scrolled {
    opacity: 0.9;
}

.search-btn {
    color: $letter-color;
    fill: currentColor;
}

.main-nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-nav__logo-img {
    margin: 0 0 0 0.5rem;
    max-height: 2.2rem;
}

.main-nav__logo-img:hover {
    opacity: 0.8;
    border-radius: $border-radius;
    background: $item-hover;
    cursor: pointer;
}

.main-nav__logo-text {
    display: none;
    color: $letter-color;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.1rem 0.3rem;
}

.main-nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.2rem;
}
.separator {
    border-left: 1.5px solid rgba(255, 255, 255, 0.2);
    height: 2rem;
    margin: 0 0.2rem;
}

.main-nav__toggle:hover {
    cursor: pointer;
    padding: 0.3rem 0;
    border-radius: $border-radius;
    vertical-align: middle;
    text-decoration: none;
    background: $item-hover;
}

.toggle-gif {
    margin: auto 0.5rem;
    width: 1.2rem;
    color: $letter-color;
    font-size: 15px;
}

.user-icon {
    margin: 0 0.5rem;
    width: 1.5rem;
    padding: 0.3rem;
    height: 1.5rem;
    border-radius: 10px;
}

.user-icon:hover {
    border-radius: 10px;
    text-decoration: none;
    background: $item-hover;
    cursor: pointer;
}

.main-nav__user {
    padding: 0.3rem 0.3rem 0.3rem 0.1rem;
    text-decoration: none;
    color: $letter-color;
}

.main-nav__user a {
    color: $letter-color;
    text-decoration: none;
}

.main-nav__user:hover {
    cursor: pointer;
    border-radius: $border-radius;
    vertical-align: middle;
    text-decoration: none;
    background: $item-hover;
}

.main-nav__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-nav__items a {
    padding: 0.4rem 0.6rem;
    vertical-align: middle;
    text-decoration: none;
    color: $letter-color;
    cursor: pointer;
    border-radius: $border-radius;
}

.main-nav__items a:hover {
    vertical-align: middle;
    text-decoration: none;
    background: $item-hover;
    cursor: pointer;
}

.main-nav__items a:focus {
    background: $background-navbar-active;
    color: $color-navbar-active;
}
.main-nav__group {
    display: flex;
}

.main-nav__items-standard {
    display: none;
}

.main-nav__items-toggled {
    display: none;
}

// LARGE SCREEN
@media (min-width: 950px) {
    .main-nav__toggle {
        display: none;
    }
    .main-nav__logo-text {
        display: block;
    }

    .main-nav__logo-text:hover {
        border-radius: $border-radius;
        background: $item-hover;
        cursor: pointer;
    }

    .separator {
        display: none;
    }

    .main-nav__items-standard {
        display: block;
    }

    .main-nav__items-toggled {
        display: block;
    }

    .main-nav__toggled {
        background: $background-navbar;
    }

    .search-btn {
        display: none;
    }
}
