@import "variables.scss";

// global
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
div,
input,
button,
output,
strong,
label,
table,
thead,
textarea {
    font-family: "Baloo Chettan", "Comic Sans MS", sans-serif;
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}
a {
    text-decoration: none;
    color: $letter-color-oposite;
}

// fonts
@font-face {
    font-family: "Baloo Chettan";
    src: url("../fonts/BalooChettan-Regular.ttf");
}

.open {
    display: block !important;
}

.close {
    display: none;
}

.master-container {
    background-color: $background-color;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
}

.master-content {
    padding: 1rem;
    width: 100%;
}

.login-content,
.singup-content,
.forgot-content,
.reset-content {
    height: 100vh;
    color: $btn-letter;
}
.login-content {
    background: $background-login;
}
.singup-content {
    background: $background-singup;
}

.forgot-content {
    background: $background-forgot;
}

.reset-content {
    background: $background-reset;
}

.btn {
    height: 2rem;
    border-radius: $border-radius;
    color: $btn-letter;
    border-color: $btn-border;
    background: $btn-background;
    border-style: solid;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.4;
    cursor: no-drop;
}

.btn-cancel {
    color: $btn-letter-cancel;
    border-color: $btn-border-cancel;
    background: $btn-background-cancel;
}

.btn-go {
    color: $btn-letter-go;
    border-color: $btn-border-go;
    background: $btn-background-go;
}

.btn-transparent {
    border-color: transparent;
    background: rgba(255, 255, 255, 0.8);
}
