<app>
    <spinner if="{getState().appReducer.view.isSpinnerVisible}"/>
    
    <div if="{!getState().appReducer.view.isLoggedIn}" class="{getState().appReducer.view.authFlowContentClass}">
        <user-login if="{getState().appReducer.view.showLogin}"/>
        <user-singup if="{getState().appReducer.view.showSingup}"/>
        <user-forgot if="{getState().appReducer.view.showForgot}"/>
        <user-reset if="{getState().appReducer.view.showReset}"/>
    </div>
    
    <div if="{getState().appReducer.view.isLoggedIn}">
        <navbar />
        <div class="master-container">
            <sidebar/>
            <div class="master-content">
                <home if="{getState().appReducer.view.isHomeVisible}"/>
                <notfound if="{getState().appReducer.view.isPageNotFoundVisible}"/>
                <page1 if="{getState().appReducer.view.isPageOneVisible}"/>
            </div>
        </div>
        <footerbar/>
    </div>
    <script>
        import riot from "riot";
        this.mixin('reduxGlobal');
        this.subscribe(this.update)

    </script>
</app>