// variables
$border-radius: 3px;

// letters
$letter-color: white;
$letter-hover: #ccc;
$letter-placeholder: #bbb;
$letter-color-oposite: #666;
$letter-hover-oposite: #ccc;
$letter-placeholder-oposite: #999;

// backgrounds
$background-color: rgba(255, 255, 255, 1);
$background-color-medium: rgba(240, 240, 240, 1);
$background-color-heavy: rgba(220, 220, 220, 1);

// background with opacity
$background-color-opacity-heavy: rgba(240, 240, 240, 0.9);
$background-color-opacity-medium: rgba(240, 240, 240, 0.6);
$background-color-opacity-light: rgba(240, 240, 240, 0.3);

// nav-bar
$background-navbar: #01749b;
$background-navbar-active: white;
$color-navbar-active: #222;
// $background-navbar-toggled: rgb(54, 97, 224);
$background-navbar-toggled: linear-gradient(
    90deg,
    #48ded4 0%,
    #ac50c4 30%,
    #e76a9a 50%,
    yellow 70%,
    #2cdace 90%
);

$item-hover: rgba(255, 255, 255, 0.1);
$nav-height: 3rem;
$nav-submenu-height: 2rem;

//submenu
$submenu-border: rgba(220, 220, 220, 1);
$submenu-background-hover: #eee;
$background-submenu: rgba(250, 250, 250, 1);

// footer-bar
$background-footer: rgb(253, 126, 20);
$footer-height: 3rem;

// search bar
$search-border: transparent;
$search-background: lightblue;
$search-background-input: rgb(255, 255, 255);
$search-background-input-focus: rgb(253, 253, 82);

//btns
$btn-letter: #555;
$btn-border: #ccc;
$btn-background: #ddd;

$btn-letter-go: #004e92;
$btn-border-go: rgb(127, 204, 229);
$btn-background-go: rgb(127, 204, 229);

$btn-letter-cancel: rgb(223, 76, 100);
$btn-border-cancel: lightpink;
$btn-background-cancel: lightpink;

//forms
$form-input-border: transparent;
$form-background-input-focus: rgb(253, 253, 82);

$background-login: linear-gradient(
    to right,
    #1e3c72,
    #2a5298
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$background-singup: linear-gradient(
    to right,
    #355c7d,
    #6c5b7b,
    #c06c84
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$background-forgot: linear-gradient(
    to left,
    #41295a,
    #2f0743
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$background-reset: linear-gradient(
    to right,
    #0f2027,
    #203a43,
    #2c5364
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$background-navbar-login: $background-login;
$background-navbar-singup: $background-singup;
$background-navbar-forgot: $background-forgot;
$background-navbar-reset: $background-reset;
$form-login-letter: white;
$form-login-letter-hover: rgb(219, 217, 217);

// sidebar
$sidebar-letter-color: #666;
$sidebar-background: rgba(250, 250, 250, 1);
$sidebar-background-hover: #eee;
