@import "../variables.scss";

.sidebar {
    display: none;
}

@media (min-width: 950px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        background: $sidebar-background;
        padding: 1rem 0;
        margin-top: 3rem;
        z-index: 0;
        height: 100%;
        width: auto;
        color: $sidebar-letter-color;
        border-right: 0.7px solid #ddd;
    }
    .sidebar-title {
        padding: 0 1rem;
        border-bottom: 0.7px solid #ddd;
    }
    .sidebar-item {
        padding: 0.5rem 1rem;
        border-bottom: 0.7px solid #ddd;
        font-size: 0.8rem;
    }

    .sidebar-item:hover {
        cursor: pointer;
        background: $sidebar-background-hover;
    }
}
