<sidebar>
    <div class="sidebar">
        <h1 class="sidebar-title">SideBar</h1>
        <a class="sidebar-item">Labore et lorem takimata et diam</a>
        <a class="sidebar-item">Labore et lorem takimata et diam</a>
        <a class="sidebar-item">Labore et lorem takimata et diam</a>
        <a class="sidebar-item">Labore et lorem takimata et diam</a>
        <a class="sidebar-item">Labore et lorem takimata et diam</a>
        <a class="sidebar-item">Labore et lorem takimata et diam</a>
    </div>
</sidebar>
