<nonLogged-submenu>
    <div class="submenu user right-sub non-logged-submenu-user">
        <div class="submenu-items">
            <a href="#/login">Log in</a>
            <a href="#/singup">Sing up</a>
            <a href="#/forgot">Forgot Password?</a>
        </div>
    </div>

    <script>
        this.mixin("reduxGlobal");
    </script>
</nonLogged-submenu>
