<submenu>
    <div class="submenu {opts.type}">
        <div class="submenu-title">
            <a>{opts.title}</a>
        </div>
        <div each="{opts.subitems}" class="submenu-items">
            <a href="{'#/' + href}">{link}</a>
        </div>
    </div>
</submenu>
