@import "../variables.scss";

.submenu {
    display: none;
    top: $nav-height;
    position: fixed;
    background: $background-submenu;
    left: 0;
    right: 0;
    width: 95vw;
    margin: 3px auto;
    z-index: 1;
    color: $letter-color-oposite;
    border-color: $submenu-border;
    border-style: solid;
    border-radius: $border-radius;
    border-width: 0.7px;
}
.submenu-title,
.submenu-items {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.submenu-container {
    display: flex;
}

.submenu-title {
    border-bottom: 0.7px solid $submenu-border;
}

.submenu-items a,
.submenu-title a {
    padding: 0.5rem;
    border-radius: $border-radius;
    color: $letter-color-oposite;
    text-decoration: none;
}

.submenu-items a:hover,
.submenu-title a:hover {
    background: $submenu-background-hover;
    cursor: pointer;
}

// LARGE SCREEN

@media (min-width: 950px) {
    .submenu {
        width: auto;
        left: auto;
        right: auto;
    }
    .submenu-container {
        flex-direction: column;
        justify-content: initial;
    }

    .right-sub {
        right: 0;
        margin-right: 0.5rem;
    }
}
