<user-submenu>
    <div class="submenu user right-sub">
        <div class="submenu-title">
            <a>{getState().appReducer.user.email}</a>
        </div>
        <div class="submenu-items">
            <a href="{'#/' + profile}">Profile</a>
            <a href="{'#/' + settings}">Settings</a>
            <a href="#/login">Logout</a>
        </div>
    </div>

    <script>
        this.mixin("reduxGlobal");
    </script>
</user-submenu>
