<company-form>
    <form onsubmit="{handleSumit}" class="form">
        <h2 class="form-title">Company Form Title</h2>
        <div class="form-inline">
            <div class="form-inline-input-2">
                <label for="name">Company name</label>
                <input
                    class="form-input"
                    placeholder="type here..."
                    type="text"
                    name="name"
                />
            </div>
            <div class="form-inline-input-2">
                <label for="description">Description</label>
                <input
                    class="form-input"
                    placeholder="type here..."
                    type="text"
                    name="description"
                />
            </div>
        </div>
        <div class="form-btns">
            <button
                type="button"
                onclick="{clearForm}"
                class="btn btn-cancel form-btn"
            >
                cancel
            </button>
            <button class="btn btn-go form-btn">go</button>
        </div>
    </form>

    <script>
        this.mixin("methods");
    </script>
</company-form>
