@import "../variables.scss";

.form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.form-input {
    background: $search-background-input;
    border-radius: $border-radius;
    border-style: solid;
    border-color: $form-input-border;
    height: 1.8rem;
    margin: 0 0.2rem 0.25rem 0.2rem;
    padding: 0 0.5rem 0 0.5rem;
}

.form label {
    margin: 0 0.25rem;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    margin: 0.25rem 0.25rem;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid;
    padding: 0.2rem;
    background: rgb(247, 247, 199);
}
.success {
    background: rgb(204, 236, 204);
    border-color: rgb(103, 245, 103);
    color: darkgreen;
}

.error {
    background: rgb(253, 223, 223);
    border-color: rgb(248, 143, 143);
    color: darkred;
}

.remove-alert-btn {
    padding: 1px 6px;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    border: none;
}

.remove-alert-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

.msg-content {
    display: flex;
    justify-content: center;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form-inline-input-2,
.form-inline-input-3 {
    display: flex;
    flex-direction: column;
    width: auto;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.form-title {
    text-align: center;
}

.form input:focus {
    background: $form-background-input-focus;
    outline: none;
}

.form input::placeholder {
    color: $letter-placeholder-oposite;
}

.form-btns {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.form-btn {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.form-btn-1 {
    width: 100%;
}

.form-btn-2 {
    width: 50%;
}

.form-login,
.form-singup {
    padding-top: 5rem;
    color: $form-login-letter;
}

.authflow-sentences-inline {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
}
.authflow-sentence {
    padding: 0.5rem 0.5rem;
    text-align: center;
    color: $form-login-letter;
    font-size: 12px;
}

.authflow-sentence:hover {
    color: $form-login-letter-hover;
}

@media (min-width: 950px) {
    .form {
        max-width: 600px;
        margin: 0 auto 0 auto;
    }
    .form-btn {
        width: 20%;
    }

    .form-inline {
        flex-direction: row;
    }

    .form-inline-input-2 {
        width: 50%;
    }

    .form-inline-input-3 {
        width: 33%;
    }
}
