<post-msg>
    <div each="{msg, i in getState().appReducer.msg.data}" class="alert">
        <div class="alert-msg">{msg}</div>
        <button name="{i}" class="remove-alert-btn">x</button>
    </div>
    <script>
        this.mixin("formSagaMethods");
        this.mixin("reduxGlobal");

        this.on("mount", function() {
            this.alertClass = "";
        });

        this.on("update", function() {
            if (this.getState().appReducer.msg.status === 200) {
                this.alertClass = "success";
            } else {
                this.alertClass = "error";
            }
            this.alerts = document.querySelectorAll(".alert");
            this.alerts.forEach(alert => {
                alert.classList.remove("error", "success");
                alert.classList.add(this.alertClass);
            });
            this.removeAlertBtns = document.querySelectorAll(
                ".remove-alert-btn"
            );
            this.removeAlertBtns.forEach(btn => {
                btn.addEventListener("click", handleRemoveMsg);
            });
        });

        const handleRemoveMsg = e => {
            e.preventDefault();
            this.removeMsg(e.target.name);
            // this.alerts[e.target.name].style.display = "none";
        };
    </script>
</post-msg>
