<user-reset>
    <navbar-authflow />
    <form onsubmit="{handleSubmit}" class="form form-login">
        <post-msg/>
        <h2 class="form-title">Reset password</h2>
        <div class="form-column">
            <label for="email">E-mail</label>
            <input
                name="email"
                class="form-input"
                placeholder="type here..."
                type="email"
            />
        </div>

        <div class="form-column">
            <label for="password">Password</label>
            <input
                name="password"
                class="form-input"
                placeholder="type here..."
                type="password"
            />
        </div>
        <div class="form-column">
            <label for="password-confirm">Confirm password</label>
            <input
                name="passwordConfirmation"
                class="form-input"
                placeholder="type here..."
                type="password"
            />
        </div>
        <div class="form-btns">
            <button
                type="button"
                onclick="{clearFormCancelBtn}"
                class="btn btn-cancel form-btn form-btn-2"
            >
                cancel
            </button>
            <button class="btn btn-go form-btn form-btn-2">reset ➡</button>
        </div>
        <div class="authflow-sentences-inline">
            <a href="#/login" class="authflow-sentence"
                >Don't wish to reset your password? Login now! 👊</a
            >
        </div>
    </form>

    <script>
        // this.mixin("globalMethods");
        this.mixin("reduxGlobal");
        this.mixin("formSagaMethods");
        this.subscribe(this.update);

        this.on("mount", function() {
            this.showLoginLink = false;
            this.alert = document.querySelector(".alert");
            this.alertMsg = document.querySelector(".alert-msg");
            this.mailInput = document.querySelector('input[name="email"]');
            this.mailInput.addEventListener("keyup", handleMail);
        });

        const handleMail = e => {
            // console.log(e)
        };

        const getURLParameter = name => {
            return (
                decodeURIComponent(
                    (new RegExp(
                        "[?|&]" + name + "=" + "([^&;]+?)(&|#|;|$)"
                    ).exec(window.location.href) || [null, ""])[1].replace(
                        /\+/g,
                        "%20"
                    )
                ) || null
            );
        };

        this.handleSubmit = e => {
            e.preventDefault();
            const token = getURLParameter("token");
            const url = this.getState().appReducer.urlApi + "reset";
            const resetedUser = {
                email: e.target.email.value,
                resetPasswordToken: token,
                password: e.target.password.value,
                passwordConfirmation: e.target.passwordConfirmation.value
            };
            this.executeReset(resetedUser, url);
        };
    </script>
</user-reset>
