<user-login>
    <navbar-authflow/>

    <form onsubmit="{handleSubmit}" class="form form-login">
        <post-msg/>
        <h2 class="form-title">Login</h2>
        <div class="form-column">
            <label for="email">E-mail</label>
            <input
                name="email"
                class="form-input"
                placeholder="type here..."
                type="email"
            />
        </div>
        <div class="form-column">
            <label for="password">Password</label>
            <input
                name="password"
                class="form-input"
                placeholder="type here..."
                type="password"
            />
        </div>               
        <div class="form-btns">
            <button type="button" onclick="{clearFormCancelBtn}" class="btn btn-cancel form-btn form-btn-2" > cancel </button>            
            <button class="btn btn-go form-btn form-btn-2">login ➡</button>
        </div>
        <div class="authflow-sentences-inline">
            <a  href="#/singup" class="authflow-sentence">New user? Register now! 👊</a>
            <a  href="#/forgot" class="authflow-sentence">Forgot password? 🙄 </a>
        </div>
    </form>

    <script>
        this.mixin('reduxGlobal');
        this.mixin('login-form');
        this.mixin('formSagaMethods');
        this.subscribe(this.update);

        this.handleSubmit = e => {
            e.preventDefault();
            const url = this.getState().appReducer.urlApi + "login"
            const user = {
                email: e.target.email.value,
                password: e.target.password.value,
            };
            this.executeLogin(user, url);
        };
    </script>
</user-login>
