<user-singup>
    <navbar-authflow />
    <form onsubmit="{handleSubmit}" class="form form-singup">
        <post-msg/>
        
        <h2 class="form-title">Singup</h2>
        <div class="form-column">
            <label for="email">E-mail</label>
            <input
                name="email"
                class="form-input"
                placeholder="type here..."
                type="email"
            />
        </div>

        <div class="form-column">
            <label for="password">Password</label>
            <input
                name="password"
                class="form-input"
                placeholder="type here..."
                type="password"
            />
        </div>
        <div class="form-column">
            <label for="password-confirm">Confirm password</label>
            <input
                name="passwordConfirmation"
                class="form-input"
                placeholder="type here..."
                type="password"
            />
        </div>                    
        <div class="form-btns">
            <button
                type="button"
                onclick="{clearFormCancelBtn}"
                class="btn btn-cancel form-btn form-btn-2"
            >
                cancel
            </button>
            <button class="btn btn-go form-btn form-btn-2">register ➡</button>
        </div>
        <div class="authflow-sentences-inline">
            <a  href="#/login" class="authflow-sentence">Already user? Login now! 👊</a>
        </div>
    </form>

    <script>
        // this.mixin("globalMethods");
        this.mixin('reduxGlobal');
        this.mixin('formSagaMethods');
        this.subscribe(this.update);

        this.on("mount", function() {
            this.alert = document.querySelector(".alert");
            this.alertMsg = document.querySelector(".alert-msg");
            this.mailInput = document.querySelector('input[name="email"]');
            this.mailInput.addEventListener("keyup", handleMail);
        });


        const handleMail = e => {
            // console.log(e)
        };

        this.handleSubmit = e => {
            e.preventDefault();
            const url = this.getState().appReducer.urlApi + "register"
            const user = {
                email: e.target.email.value,
                password: e.target.password.value,
                passwordConfirmation: e.target.passwordConfirmation.value
            };
            this.executeRegister(user, url);
        };

    </script>
</user-singup>